* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
}

header {
    background-color: #f24b4b;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

main {
    margin-top: 20px;
}

.contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #777;
    font-size: 0.9em;
}

footer p {
    margin-bottom: 10px;
}
